.about {
  text-align: center;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__container {
  display: flex;
  align-items: center;
  padding: 20px;
  @media screen and (max-device-width: 600px) {
    flex-direction: column;
  }
}

.about__photo-container {
  border-radius: 50%;
  padding: 20px;
}

.about__photo {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: 0 0;
}

.about__info {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  @media screen and (max-device-width: 600px) {
    margin-left: 0;
    margin-top: 30px;
  }
}

.about__greeting {
  &:after {
    content: url("../img/icons/emoji-smile-upside-down.svg");
    padding-left: 10px;
  }
}

.about__buttons {
  display: flex;
  gap: 50px;
  margin: 20px;
}