.skills__wrapper {
  padding: 30px 0;
}


.skills-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: space-between;
  &:after {
    content: '';
    width: 30%;
    display: block;
  }
}

.skills-list_item {
  @include font($size: 2rem, $height: 1.4rem, $weight: 700);
  width: 30%;

  &:before {
    content: url("../img/icons/check-lg.svg");
    padding-right: 10px;
    //content: '';
    //background-color: green;
    //-webkit-mask: url("../img/icons/check-lg.svg") no-repeat 100%;
    //mask: url("../img/icons/check-lg.svg") no-repeat 100%;
  }
}
