html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Source Sans Pro';
  font-size: 1.6rem;
  font-weight: normal;
}

main {
  margin-top: 90px;
}