.button {
  border: 2px solid green;
  border-radius: 5px;
  padding: 10px 15px;
  background: lightsalmon;
  cursor: pointer;
  text-align: center;
  @include font($size: 1.5rem, $height: 2rem, $weight: bold)
}

.button_download{
  &:after {
    content: url("../img/icons/download.svg");
    padding-left: 10px;
  }
}

.scroll-btn {
  position: fixed;
  bottom: 3%;
  right: 3%;
  width: 45px;
  height: 45px;
  //border-radius: 50%;
  background: url("../img/icons/up-arrow.svg") no-repeat;
  display: none;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
  &_visible {
    display: block;
  }
}